<div class="navemenu-offcanvas">
  <div id="chatContainer" class="panel navemenu-offcanvas-default">
    <nav id="chatRooms" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
      <a class="navmenu-brand" href="#">Salas</a>
      <ul id="rooms" class="nav navmenu-nav nav-pills nav-stacked">
      </ul>
    </nav>
    <div class="navbar navbar-default navbar-fixed-top panel-heading">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#chatRooms" data-canvas="#chatContainer" data-placement="left">
        <span class="glyphicon glyphicon-comment"></span>
      </button>
      <div class="chat-title">Bate-papo <small class="badge pull-right">...</small></div>
    </div>
    <div class="panel-body">
      <div class="chat-status chat-disconnected"></div>
      <div class="chat-content">
        <ul id="messages" class="messages">
        </ul>
      </div>
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input id="message" type="text" class="form-control input-sm" placeholder="Digite sua mensagem aqui..." />
        <span class="input-group-btn">
					<button id="send" class="btn btn-warning btn-sm">enviar</button>
				</span>
      </div>
    </div>
  </div>
</div>