<input id="relativePath" type="hidden" value="{{ relativePath }}"/>

<div class="chat">
</div>

<script id="chatTemplate" type="text/template">
    
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span>&nbsp; Bate-papo <small class="chat-status badge pull-right" style="margin-top: 2px;">...</small>
        </div>
        <div class="panel-body">
            <ul id="messages" class="messages">
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="message" type="text" class="form-control input-sm" placeholder="Digite sua mensagem aqui..." />
                <span class="input-group-btn">
                    <button id="send" class="btn btn-warning btn-sm">enviar</button>
                </span>
            </div>
        </div>
    </div>

</script>

<script id="friendMessageTemplate" type="text/template">
    
    <span class="pull-left">
        <img src="http://placehold.it/36/55C1E7/fff&amp;text=<%- letterImage %>" alt="User Avatar" class="img-circle">
    </span>
    <div class="chat-body clearfix">
        <strong><%- user %></strong>
        <small id="<%- id  %>" class="pull-right text-muted">
            <span class="icon glyphicon glyphicon-ok"></span>
            <span class="date"><%- date %></span>
        </small>
        <p><%- message %></p>
    </div>

</script>

<script id="myMessageTemplate" type="text/template">
    
    <span class="pull-right">
        <img src="http://placehold.it/36/FA6F57/fff&amp;text=<%- letterImage %>" alt="User Avatar" class="img-circle">
    </span>
    <div class="chat-body clearfix">
        <small id="Small1" class="text-muted">
            <span class="icon glyphicon glyphicon-time"></span>
            <span class="date"><%- date %></span>
        </small>
        <strong class="pull-right"><%- user %></strong>
        <p><%- message %></p>
    </div>

</script>