<!DOCTYPE html>
<html>
<head>
    <title>chat</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <style type="text/css">
        
        .panel-login {
            position: absolute;

            height: auto; 
            top: 40%; 
            margin-top: -50px; 

            width: 450px; 
            left: 50%; 
            margin-left: -225px; 
        }

    </style>

    <link rel="stylesheet" href="../../../client/js/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../client/css/style.css">
</head>
<body>
    <div id="wrap">
        <div class="container">
            <article>                
                <form action="/" method="get">
                    
                    <div class="well panel-login">
                        <div class="input-group">
                            <input name="email" type="text" class="form-control" placeholder="Digite seu e-mail aqui..." />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">enviar</button>
                            </span>
                        </div>
                    </div>
                    
                </form>
            </article>
        </div>
        <div id="push"></div>
    </div>
    
    <div id="footer">
        <div class="container">
            <p class="muted credit">&copy; <a href="http://junioro.wordpress.com" rel="author">J&uacute;nior Oliveira</a> 2014.</p>
        </div>
    </div>
    
</body>
</html>